.site {
    flex-direction: column;
    display: flex;
}

.buttonBar {
    display: flex;
    flex-direction: row;
    margin: 0.5%;
    justify-content: center;
}

.grid {
    display: flex;
}

.algorithmText {
    margin-top: 0.5%;
    margin-left: 2%;
    font-family: sans-serif;
    font-weight: bold;
}

input:focus:valid {
    background-color:green
}

input:focus:invalid {
    background-color: red;
}


